.header__navbar-menu {
    display: none;
}

.header__navbar-menu:checked ~ .header__navbar { 
    visibility: visible;
    max-height: 200px;
    opacity: 1;
}

.header__navbar-menu:checked ~ .header__navbar-menu-label {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    width: 0px;
}

.header__navbar-menu:checked ~ .header__navbar-close {
    /* display: block; */
    visibility: visible;
    opacity: 1;
    
}