.header__navbar {
  border: 1px solid red;
  align-self: center;
}

@media (max-width: 600px) {
  .header__navbar {
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 0px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }
}

@media (max-width: 950px) {
    .header__navbar {
      padding: 0 19px;
    }
  }
